/* =====================================
              Global
===================================== */

* {
  margin: 0;
  padding: 0;
}

/* =====================================
              Colors
===================================== */

/* =====================================
              Variables
===================================== */

/* =====================================
              Navigation
===================================== */

/* =====================================

===================================== */

.hero img {
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-around;

}

.card {
  text-align: center;
}


/* =====================================

===================================== */
